.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    overflow-x: scroll;
}

.header::-webkit-scrollbar {
    display: none;
}

.header {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.header__icons {
    display: flex;
    align-items: center;
    text-align: center;
    color: white;
}

.header__icon {
    display: flex;
    flex-direction: column;
    width: 100px;
    cursor: pointer;
}

.header__icon--active > p {
    display: inline-flex !important;
}

.header__icon > .MuiSvgIcon-root {
    font-size: 30px;
    margin-left: auto;
    margin-right: auto;
}

.header__icon > p {
    display: none;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-right: auto;
    margin-left: auto;
    font-size: small;
}

.header__icon:hover > p {
    display: inline-flex;
}

.header > img {
    width: 80px;
    object-fit: contain;
    padding: 20px;
}